<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (ngSubmit)="onAddPost()" *ngIf="!isLoading">
    <mat-form-field>
      <mat-label>Post title</mat-label>
      <input type="text" matInput formControlName="title" />
      <mat-error *ngIf="form.get('title')?.invalid"
        >Please enter a valid title</mat-error
      >
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="pickerFile.click()">
        Pick Image
      </button>
      <input type="file" #pickerFile (change)="onImagePicked($event)" />
    </div>
    <div
      class="image-preview"
      *ngIf="imagePreview !== '' && imagePreview && form.get('image')?.valid"
    >
      <img [src]="imagePreview" [alt]="form.value.title" class="preview" />
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="5"
        formControlName="content"
        placeholder="Enter your post content"
      ></textarea>
      <mat-error *ngIf="form.get('content')?.invalid"
        >Please enter a valid content</mat-error
      >
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      [disabled]="form.invalid"
      color="primary"
    >
      {{ mode === "create" ? "Add" : "Update" }}
    </button>
  </form>
</mat-card>
